{"certificates" : [
	{
	"certificate_file" : "/opt/doormat/etc/wildcard.cynnt.com-bundle.pem",
	"key_file" : "/opt/doormat/etc/wildcard.cynnt.com.key.pem",
	"key_password" : "/opt/doormat/etc/keypass"
	"default" : true
	},
	{
	"certificate_file" : "/opt/doormat/etc/wildcard.cynnt.video-bundle.pem",
	"key_file" : " /opt/doormat/etc/wildcard.cynnt.video.key.pem",
	"key_password" : "/opt/doormat/etc/keypass"
	},
]}
