{"route_map" : "/usr/local/etc/doormat/reverse-proxy-backend-cydev1-reg-2"}
{"privileged_addresses" : "/usr/local/etc/doormat/privileged_ip"}
{"interreg_address" : "/usr/local/etc/doormat/interreg_ip"}
{"page_base" : "/usr/local/etc/doormat/pages"}
{"port": 2443}
{"porth": 2280}
{"error_host": "https://errors.cynny.com/"}
{"connection_timeout": 2000}
{"operation_timeout": 30000}
{"board_timeout": 20000}
{"log_path": "/var/log/doormat/"}
{"gzip" : {"compression_level" : 9, "compression_min_size" : 0, "compression_mime_types" : ["application/json"]}}
{"certificates" : [
	{
	"certificate_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cy1.cynnt.com-bundle.pem",
	"key_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cy1.cynnt.com.key.pem",
	"key_password" : "/usr/local/etc/doormat/certificates/production/keypass", 
	"default" : true
	},
	{
	"certificate_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cy2.cynnt.com-bundle.pem",
	"key_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cy2.cynnt.com.key.pem",
	"key_password" : "/usr/local/etc/doormat/certificates/production/keypass"
	},
	{
	"certificate_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cynnt.com-bundle.pem",
	"key_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cynnt.com.key.pem",
	"key_password" : "/usr/local/etc/doormat/certificates/production/keypass"
	},
	{
	"certificate_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cynnt.video-bundle.pem",
	"key_file" : " /usr/local/etc/doormat/certificates/production/wildcard.cynnt.video.key.pem",
	"key_password" : "/usr/local/etc/doormat/certificates/production/keypass"
	},
	{
	"certificate_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cydev1.com-bundle.pem",
	"key_file" : "/usr/local/etc/doormat/certificates/production/wildcard.cydev1.com.key.pem",
	"key_password" : "/usr/local/etc/doormat/certificates/production/keypass"
	}
]}
{"header_config": "/usr/local/etc/doormat/headers"}
{"include", "/usr/local/etc/doormat/error_files_production.config"}
