{"cache_normalization" : [
      {"vhost" : "^ww(.{1}).morphcast.video$", "path" : "^[\/]?(apple-app-site-association|favicon.ico)$", "cache_key": "$<default>$", "user_agent" : "(.*)"},
      {"vhost" : "^ww(.{1}).morphcast.video$", "cache_key": "$<default>$<header:user-agent>$", "user_agent" : "(facebot|facebookexternalhit|twitterbot|whatsapp|linkedinbot|skypeuripreview)", "path" : "(.*)"},
      {"vhost" : "^ww(.{1}).morphcast.video$", "cache_key": "$www.morphcast.video$/index.html$$", "user_agent" : "(.*)", "path" : "(.*)"}
    ]
}