{"certificates" : [
	{
	"certificate_file" : "./etc/doormat/certificates/npn/newcert.pem",
	"key_file" : "./etc/doormat/certificates/npn/newkey.pem",
	"key_password" : "./etc/doormat/certificates/npn/keypass", 
	"default" : true
	},
	{
	"certificate_file" : "./etc/doormat/certificates/npn1/newcert.pem",
	"key_file" : "./etc/doormat/certificates/npn1/newkey.pem",
	"key_password": "./etc/doormat/certificates/npn1/keypass"
	},
	{
	"certificate_file" : "./etc/doormat/certificates/npn2/tcynny.pem", 
	"key_file" : "./etc/doormat/certificates/npn2/tcynny.key.pem", 
	"key_password" : "./etc/doormat/certificates/npn2/keypass"
	},
	{
	"certificate_file" : "./etc/doormat/certificates/npn3/errors.pem",
	"key_file" : "./etc/doormat/certificates/npn3/errors.key.pem",
	"key_password" :  "./etc/doormat/certificates/npn3/keypass" 
	},
	{
	"certificate_file" : "./etc/doormat/certificates/stats/newcert.pem",
	"key_file" : "./etc/doormat/certificates/stats/newkey.pem",
	"key_password" : "./etc/doormat/certificates/stats/keypass" 
	},
	{
	"certificate_file": "./etc/doormat/certificates/cynnylan/newcert.pem",
	"key_file" : "./etc/doormat/certificates/cynnylan/newkey.pem",
	"key_password" : "./etc/doormat/certificates/cynnylan/password"
	}
]}
