{"route_map" : "./etc/doormat/route_map"}
{"privileged_addresses" : "./etc/doormat/privileged_ip"}
{"interreg_address" : "./etc/doormat/interreg_ip"}
{"page_base" : "./etc/doormat/pages"}
{"error_host" : "https://errors.tcynny.com:1443"}
{"client_connection_timeout": 2000}
{"board_connection_timeout" : 1000}
{"operation_timeout" : 10000}
{"board_timeout" : 1000}
{"gzip" : {"compression_level" : 9, "compression_min_size" : 0, "compression_mime_types" : ["application/json"]}}
{"daemon" : "/"}
{"log_path" : "./"}
{"header_config" : "./etc/doormat/headers"}
{"cache" : {"path" : "/tmp/cache_directory"}}
{"include" : "./etc/doormat/ports.config"}
{"include" : "./etc/doormat/error_files.test.config"}
{"include" : "./etc/doormat/certificates.test.config"}
{"include" : "./etc/doormat/cache_normalization.config"}
