{"include" : "./etc/doormat/error_files.test.config"}
{"include" : "./etc/doormat/certificates.test.config"}
{"route_map" : "./etc/doormat/route_map2"}
{"privileged_addresses" : "./etc/doormat/privileged_ip"}
{"interreg_address" : "./etc/doormat/interreg_ip"}
{"error_host" : "https://errors.tcynny.com:1443"}
{"page_base" : "./etc/doormat/pages"}
{"port": 1443}
{"porth": 8888}
{"client_connection_timeout": 2000}
{"board_connection_timeout" : 1000}
{"operation_timeout": 10000}
{"board_timeout": 1000}
{"log_path": "./"}

